#d {
    height: 200px;
    width: 200px;
    background-color: lightpink;
}

#butn {
    padding: 10px 15px;
    margin: 100px;
    border: 2px dotted red;
    border-radius: 35px;
    height: 70px;
    width: 70px;
}

#box1 {
    padding: 20px;
    box-sizing: border-box;
    background-color: aquamarine;
    margin: 10px;
    border: 5px dotted;
}

#box2 {
    padding: 10px;
    box-sizing: border-box;
    background-color: aqua;
    margin: 15px;
    border: 5px dashed;
}