#container {
    height: 200px;
    width: 600px;
    background-color: crimson;
    border: 2px solid yellow;
}

#box1 {
    height: 100px;
    width: 100px;
    background-color: thistle;
    margin: 5px;
    border: 2px solid black;
    float: right;
}

#box2 {
    height: 100px;
    width: 100px;
    background-color: thistle;
    margin: 5px;
    border: 2px solid black;
    float: left;
}