.b_tn {
    height: 25px;
    width: 120px;
    background-color: royalblue;
    border: 2px dashed red;
    border-radius: 25px;
    /*transition-property: all;
    transition-duration: 1s;
    transition-timing-function: steps(3);
    transition-delay: 1s;*/
    transition: all 1s ease-in-out 0s; /*short-Hand*/

}

.b_tn:hover{
    height: 30px;
    width: 130px;
    background-color: yellow;
}

.b_tn:active{
    height: 30px;
    width: 130px;
    background-color: yellowgreen;
}