     #nav h1 {
         text-align: center;
         text-transform: uppercase;
         background-color: aqua;
     }

     * {
         font-family: "Times New Roman", Times, serif;
         margin: 0;
         padding: 0;
     }

     #outer {
         font-size: 25px;
     }

     #inner {
         font-size: 10px;
     }